.movie-single-small {
    text-align: center;
    width:450px;
    background-color: #FFFEFD;
    padding-bottom: 50px;
    min-width: 380px;
}

.movie-single-small .movie-meta{
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    margin:10px;
}

.movie-single-detail{
    text-align: center;
    width:80%;
    background-color: #FFFEFD;
    padding-bottom: 50px;
    min-width: 380px;
    margin:100px auto;
}

.movie-single-detail .movie-meta{
    padding:20px;
}

.movie-single-detail .card-header{
    background-color:  #0c4677;
    border-color:  #0c4677 !important;
    color: #FFFEFD;

}