.movie-single-small {
    text-align: center;
    width:450px;
    background-color: #FFFEFD;
}

.movie-meta{
    position: sticky;
    bottom: 0;
}
/* .movie-single-small:hover {
    transform: scale(0.85);
  } */