.movie-single-small {
    text-align: center;
    width:450px;
    background-color: #FFFEFD;
    padding-bottom: 5%;
}

.movie-meta{
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    margin:10px;
}
/* .movie-single-small:hover {
    transform: scale(0.85);
  } */