.review-list{
    max-height:50vh;
    overflow: auto;
}

.review-list .review-single{
    border:1px solid #072d4d;
}

.review-list .review-title{
    width:70%;
    text-align: left;
    font-size: 1rem ;
    color:#FFFEFD ;
}

.review-list .review-user{
    width:15%;
    text-align: right;
    font-size: 0.54rem ;
    color:#FFFEFD ;
}

.review-list .review-date{
    width:15%;
    text-align: right;
    font-size: 0.54rem ;
    color:#FFFEFD ;
}

.review-list .review-text{
    width:100%;
    text-align: justify;
    font-size: 0.65rem ;
    color:#0c4677 ;
}

.review-list .review-header{
    width:100%;
    text-align: justify;
    font-size: 0.65rem ;
    background-color:#0c4677 ;
}

.review-form{
    padding:10px;
}