.header{
    position: sticky;
    top:0;
    left:0;
    right:0;
    z-index: 1000;
    height:100px;
    background-color: #8BAAAD;
    padding: 0 20px;
    color: #EBDBB3;
}

.header h1{
    line-height: 100px;
}